* {
  font-family: "Poppins", sans-serif;
}

.A {
  color: #407bff;
}

.head {
  text-transform: uppercase;
  background: linear-gradient(to right, #407bff 0%, #95429b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.skills-card-name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  position:relative
}

.skills-card-img{
  margin:auto;
  height:75%;
  border-radius:10px;
}

.skillBox {
  border: 1px solid rgb(235,236,238);
  height: 130px;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px; */
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.skillBox:hover{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}